<section>
  <div class="title-cards">
    <p>Hot comps</p>
    <img src="../../../assets/icons/fire.png" alt="" />
  </div>
  <div class="cards-comps">
    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/ashe.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>

    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/ashe.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>

    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/ashe.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>

    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/ashe.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>
  </div>
</section>
