<section>
  <p>Explore comps</p>
  <div class="explore-filters">
    <div class="filters">
      <button class="filter">Arcanist</button>
      <button class="filter">Altruist</button>
      <button class="filter">Artist</button>
      <button class="filter">Bruiser</button>
      <button class="filter">Behemoth</button>
    </div>
    <div class="select">
      <select name="" id="">
        <option value="">Select an option</option>
      </select>
    </div>
  </div>
  <div class="cards-comps">
    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/tristana.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>

    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/tristana.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>

    <div class="card-comp">
      <div class="card-header">
        <div class="likes">
          <img class="likes-img" src="../../../assets/coracao.png" alt="" />
          <span>14.2k</span>
        </div>
      </div>
      <div class="card-body">
        <img class="comp-image" src="../../../assets/tristana.jpg" alt="" />
        <p>3 star Ashe carry!</p>
        <div class="comp-infos">
          <button class="btn-transparent">Fast 8</button>
          <button class="btn-color">Hard</button>
        </div>
        <div class="btn-view">
          <button>View comp</button>
        </div>
      </div>
    </div>
  </div>


</section>
